body {
    /* We use system-ui and -apple-system as fallbacks to ensure a native look
    on different operating systems. system-ui provides a system font on
    Windows and Linux, while -apple-system does the same for macOS and iOS */
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    /* Reset default margin to ensure consistent spacing across browsers */
    margin: 0;
    /* Add padding to create space around the content for better readability */
    padding: 1.25em;
    text-align: center;
    /* Applies simple dark theme */
    background-color: #111;
    color: #eee;
}
.separation-bar {
    /* Add space above the bar */
    margin-top: 20px;
    /* Add padding to top and bottom elements, no padding on sides */
    padding: 10px 0;
    /* Add a light gray border on top */
    border-top: 1px solid #eee;
    /* Use flexbox for layout */
    display: flex;
    /* Distribute space evenly between flex items */
    justify-content: space-between;
}
.center-element {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.course-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #cfc;
    border-collapse: collapse; /* Share borders between adjacent cells */
}
/* Cells border */
.course-table th,
.course-table td {
    border: 1px solid #cfc;
}
/* For anchor tags */
a {
    color: #ccf;
    text-decoration: none; /* Removes underline when not hovered */
}
/*Add styles for hover state */
a:hover {
    text-decoration: underline;
}
