  <!-- Google Analytics -->
  <!-- Google tag (gtag.js) -->
  <script async fetchpriority="low"
    src="https://www.googletagmanager.com/gtag/js?id=G-V187TY0SPN"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-V187TY0SPN', {
      'cookie_flags': 'SameSite=None; Secure',
      'cookie_domain': 'eric15342335.github.io'
    });
  </script>
  <!-- End Google Analytics -->

  <!-- Microsoft Clarity -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "o9poktpwjv");
  </script>
  <!-- End Microsoft Clarity -->

  <!-- GoatCounter -->
  <script async fetchpriority="low"
    data-goatcounter="https://eric310.goatcounter.com/count"
    src="/src/thirdparty/count.js"></script>
  <!-- End GoatCounter -->

  <!-- Google AdSense -->
  <script async crossorigin="anonymous"
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1706655606350284"></script>
  <!-- End Google AdSense -->