<div class="separation-bar footer-container">
  <span class="left-align">
    <a href="https://github.com/eric15342335/eric15342335.github.io/">Website</a>
    by
    <a href="mailto:eric310@connect.hku.hk">eric15342335</a>
    <br>
    <a href="https://icp.gov.moe/?keyword=20250310" target="_blank">萌ICP备20250310号</a>
  </span>
  <span class="right-align">
    Last updated: {{ site.time | date_to_rfc822 }}
  </span>
</div>

<!-- GoatCounter counter -->
<div id="goatcounter-stats" style="display: none;">
  <br>
  <small>visitor <span id="goatcounter-stats-number"></span></small>
</div>
<script>
  let path = location.pathname === '/index.html' ? '/' : location.pathname;
  let request = new XMLHttpRequest();
  request.addEventListener('load', function() {
    let response = JSON.parse(this.responseText);
    document.querySelector('#goatcounter-stats-number').innerText = response.count;
    document.querySelector('#goatcounter-stats').style.display = 'block';
  });
  request.open('GET', 'https://eric310.goatcounter.com/counter/' + encodeURIComponent(path) + '.json');
  request.send();
</script>