<nav class="navbar" aria-label="Main navigation">
  <div class="scroll-indicator" aria-hidden="true"></div>
  <div class="image-link">
    <a href="https://github.com/eric15342335" aria-label="Eric's GitHub profile">
      <img src="/favicon.ico" alt="Eric's profile picture" width="40" height="40">
    </a>
    <button class="navbar-toggler-icon" aria-label="Toggle navigation menu on mobile devices"></button>
  </div>
  <ul>
    <li><a href="/index.html" title="Cheng Ho Ming, Eric's personal website">Cheng Ho Ming</a></li>
    <li><a href="/pages/cv.html" title="View Eric's Curriculum Vitae">CV</a></li>
    <li><a href="/pages/courses.html" title="View Eric's courses">Courses</a></li>
    <li><a href="/blog/" title="Read Eric's blog posts">Blog</a></li>
    <li><a href="https://github.com/eric15342335/eric15342335.github.io" title="View website source code on GitHub">Source Code</a></li>
    <li><a href="/sitemap.xml" title="View website sitemap">Sitemap</a></li>
    <li><a id="rickroll-button" tabindex="0" role="button" aria-label="Surprise button">Click me</a></li>
  </ul>
</nav>