<nav class="navbar">
  <div class="scroll-indicator"></div>
  <div class="image-link">
    <a href="https://github.com/eric15342335">
      <img src="/favicon.ico" alt="Eric's profile picture" width="40" height="40">
    </a>
    <button class="navbar-toggler-icon"></button>
  </div>
  <ul>
    <li><a href="/index.html">Eric's GitHub Pages</a></li>
    <li><a href="/assets/ChengHoMingCV.pdf">CV</a></li>
    <li><a href="/pages/courses.html">Courses</a></li>
    <li><a href="https://github.com/eric15342335/eric15342335.github.io">Source Code</a></li>
    <li><a href="/pages/sitemap.html">Sitemap</a></li>
    <li><a id="rickroll-button" tabindex="0">Click me</a></li>
  </ul>
</nav>