<nav aria-label="Top navigation menu bar">
  <div class="scroll-indicator" aria-hidden="true"></div>
  <div class="image-link">
    <a href="https://github.com/eric15342335" aria-label="Eric's GitHub profile">
      <img src="/favicon.ico" alt="Eric's profile picture" width="40" height="40">
    </a>
    <button class="navbar-toggler-icon" aria-label="Toggle navigation menu bar on mobile devices"></button>
  </div>
  <ul>
    <li><a href="/index.html" title="Go to the main index page of my personal website.">Cheng Ho Ming</a></li>
    <li><a href="/pages/cv.html" title="View Eric's Curriculum Vitae and download it as a PDF file.">CV</a></li>
    <li><a href="/pages/courses.html" title="Find out which courses have Eric taken.">Courses</a></li>
    <li><a href="/blog/" title="Read Eric's blog posts, explore his personal interest and latest updates.">Blog</a></li>
  </ul>
</nav>