:root {
  --bg-color: #111;
  --text-color: #fff;
  --border-color: #beb;
  --link-color: #aaf;
  --floating-menu-bg-color: #333;
  --floating-menu-hover-bg-color: #555;
  --body-margin-left-right: 2vw;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/assets/font/Inter-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  /* top | left and right | bottom */
  padding: 3em var(--body-margin-left-right) 10vh;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.separation-bar {
  margin-top: 1.25em;
  padding: 0.625em 0 0;
  border-top: 1px solid var(--text-color);
  justify-content: space-between;
}

.course-table {
  margin: 0.5em auto 0;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

.course-table th,
.course-table td {
  border: 1px solid var(--border-color);
  padding: 0.2em;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 300;
}

a:focus,
a:hover {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.floating-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--floating-menu-bg-color);
  z-index: 1000;
}

.floating-menu li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: calc(1em - 1px);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Needed for firefox when using
  .floating-menu li a:hover { outline: solid 1px var(--text-color);} */
  margin: 1px;
}

.floating-menu a.image-link {
  padding: 4.65px;
  height: 2.5em;
  display: flex;
  align-items: center;
}

.floating-menu a.image-link img {
  height: auto;
  width: 2.5em;
  border-radius: 50%;
}

.floating-menu ul,
.floating-menu li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.floating-menu li a:hover,
.floating-menu li button:hover,
.floating-menu li a:focus,
.floating-menu li button:focus {
  background-color: var(--floating-menu-hover-bg-color);
  /* outline: auto; shows blue (strange) colour instead of white */
  outline: solid 1px var(--text-color);
}

.external-images {
  display: grid;
  grid-template-columns: 1fr;
}

.external-images img { 
  gap: 1em;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 12em;
}

.sitemap-menu {
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.scroll-indicator {
  width: 104vw;
  height: 0.25em;
  margin-top: 0.25em;
  margin-left: calc(-1 * var(--body-margin-left-right));
  background: linear-gradient(to right, #5a5 0%, #5a5 50%, #ccc 50%, #ccc 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-out;
  position: fixed;
  z-index: 1000;
}

.text-description {
  text-align: left;
  /* top and bottom | left and right */
  padding: 0 10vw;
}

.footer-container {
  display: flex;
}

.footer-container .left-align {
  text-align: left;
}

.footer-container .right-align {
  text-align: right;
}

@media (max-width: 708.5px) {
  .scroll-indicator {
    display: block;
  }

  body {
    padding-top: 6em;
  }
}

@media (min-width: 708.5px) {
  .scroll-indicator {
    display: none;
  }
}

@media (max-width: 385.5px) {
  body {
    padding-top: 9em;
  }
}

@media (max-width: 281.5px) {
  body {
    padding-top: 12em;
  }
}
