@font-face {
  src: url(/assets/font/Inter-latin.woff2) format('woff2'), url(/assets/font/Inter-latin.woff) format('woff');
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --bg-color: #111;
  --text-color: #fff;
  --border-color: #beb;
  --link-color: #aaf;
  --navbar-bg-color: #333;
  --navbar-hover-bg-color: #555;
  --navbar-image-size: 2.5em;
  --body-margin-left-right: 2vw;
  --scroll-indicator-height: 0.25em;
  --z-index-navbar: 10;
  --z-index-scroll-indicator: 11;
}

body {
  font-family: -apple-system, 'Inter', sans-serif;
  text-align: center;
  padding-top: 2.2em;
  padding-left: var(--body-margin-left-right);
  padding-right: var(--body-margin-left-right);
  padding-bottom: 10vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

a:focus,
a:hover {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.3s ease;
}

code {
  font-family: 'Consolas', monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#user-stats {
  margin: 0;
  padding-left: var(--body-margin-left-right);
  padding-right: var(--body-margin-left-right);
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--navbar-bg-color);
  z-index: var(--z-index-navbar);
  text-align: left;
}

nav ul,
nav li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: calc(0.9em - 1px);
  text-decoration: none;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Needed for firefox when using
  nav li a:hover { outline: solid 1px var(--text-color);} */
  margin: 1px;
}

nav li a:hover,
nav li button:hover,
nav li a:focus,
nav li button:focus {
  background-color: var(--navbar-hover-bg-color);
  outline: solid 1px var(--text-color);
  text-decoration: none;
}

nav .image-link {
  margin-top: var(--scroll-indicator-height);
  display: flex;
  align-self: center;
  vertical-align: middle;
  max-width: fit-content;
}

nav .image-link img {
  margin: 0; /* Remove default margin */
  height: var(--navbar-image-size);
  width: var(--navbar-image-size);
  border-radius: 50%;
  object-fit: cover;
}

nav .image-link img:hover {
  box-shadow: 0 0 0 1px white; /* Mimicking a white border using box-shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}

/* Navbar toggler for mobile */
nav .image-link .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  height: var(--navbar-image-size);
  width: var(--navbar-image-size);
  background-color: transparent;
  border-color: transparent;
  margin-left: 1em;
  margin-top: calc(var(--scroll-indicator-height) / 3);
}

nav .image-link .navbar-toggler-icon:hover {
  background-color: var(--navbar-hover-bg-color);
  outline: solid 1px var(--text-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.scroll-indicator {
  width: 104vw;
  height: var(--scroll-indicator-height);
  margin-left: calc(-1 * var(--body-margin-left-right));
  background: linear-gradient(to right, #5a5 0%, #5a5 50%, #ccc 50%, #ccc 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-scroll-indicator);
}

.separation-bar {
  margin-top: 1.25em;
  padding: 0.625em 0 0;
  border-top: 1px solid var(--text-color);
  justify-content: space-between;
}

.course-table {
  margin: 0.5em auto 0;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  text-align: justify;
}

.course-table th,
.course-table td {
  border: 1px solid var(--border-color);
  padding: 0.2em;
}

.course-table .fixed-width-font {
  font-family: 'Consolas', monospace;
}

/* Used in xslt sitemap stylesheet */
.sitemap-menu {
  list-style-type: none;
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

article {
  text-align: left;
  padding-left: 8vw;
  padding-right: 8vw;
  margin: 0;
}

article p {
  margin-top: auto;
}

.projects-list p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-container {
  display: flex;
}

.footer-container .left-align {
  text-align: left;
}

.footer-container .right-align {
  text-align: right;
}

.loading-spinner {
  display: block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 20px auto;
}

/* Simplified version of github markdown alerts */
.encircled-text {
  display: inline-block;
  border: 1px solid var(--text-color);
  padding: 1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 709px) {
  nav {
    display: flex;
  }
  nav ul {
    display: flex;
  }
  
  .navbar-toggler-icon {
    display: none;
  }
}

@media (max-width: 709px) {
  .text-description {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  nav {
    display: block;
  }
  nav ul {
    display: none;
    max-height: 0;
  }

  nav.open ul {
    display: block;
    max-height: 500px;
    opacity: 1;
  }
}
