:root {
  --bg-color: #111;
  --text-color: #fff;
  --border-color: #beb;
  --link-color: #aaf;
  --floating-menu-bg-color: #333;
  --floating-menu-hover-bg-color: #555;
}

/* Margin is outside the border, padding is inside the border */

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  /* top | left and right | bottom */
  padding: 2.5em 1.25em 5em;
  text-align: center;
  /* Applies simple dark theme */
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Horizontal Separation Bar */
.separation-bar {
  /* Add space above the bar */
  margin-top: 1.25em;
  /* Add padding to top and bottom elements, no padding on sides */
  /* top | left and right | bottom */
  padding: 0.625em 0 0;
  /* Add a light gray border on top */
  border-top: 1px solid var(--text-color);
  display: flex;
  /* Distribute space evenly between flex items */
  justify-content: space-between;
}

.course-table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--border-color);
  border-collapse: collapse; /* Share borders between adjacent cells */
  margin-top: 0.5em; /* Add spacing above the table */
}

/* Cells border */
.course-table th,
.course-table td {
  border: 1px solid var(--border-color);
  padding: 0.2em;
}

/* For anchor tags */
a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
}

a:focus, a:hover {
  color: var(--text-color);
  text-decoration: underline;
  transition: color 0.6s ease;
}

a:focus, a:hover {
  text-decoration: underline;
}

.floating-menu {
  position: fixed; /* Stay in place when scrolling */
  inset: 0 0 auto 0;
  width: 100%; /* Full width */
  background-color: var(--floating-menu-bg-color);
  z-index: 1000; /* Ensure the menu is on top of other elements */
}

.floating-menu li a {
  display: block; /* Block elements for full width */
  color: var(--text-color);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease;
}

.floating-menu ul, .floating-menu li  {
  float: left; /* Align menu items horizontally */
  list-style-type: none; /* Remove default list dots */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide overflowing content */
}

.floating-menu li a:hover, .floating-menu li button:hover,
.floating-menu li a:focus, .floating-menu li button:focus {
  background-color: var(--floating-menu-hover-bg-color);
  outline: auto; /* Add focus outline */
}


.sitemap-menu {
  list-style-type: none; /* Remove default list dots */
  line-height: 1.5;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

/* Scrolling indication bar */
.scroll-indicator {
  width: 100%;
  height: 4px;
  margin: 14px -1.25em;
  background: linear-gradient(to right, 
    #4a5 0%, #4a5 50%, 
    #ccc 50%, #ccc 100%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.3s ease-out;
  position: fixed;
  z-index: 1000;
}

/* Media query for mobile devices */
@media (max-width: 656.5px) {
  .scroll-indicator {
    display: block;
  }
  /* Mobile screen adjustment due to .floating-menu */
  body {
    padding-top: 5em;
  }
}

/* Hide the scroll indicator on larger screens */
@media (min-width: 656.5px) {
  .scroll-indicator {
    display: none;
  }
}
