---
title: 博客
permalink: /zh-CN/blog/
description: ""
lang: zh-CN
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>欢迎来到Eric的个人博客页面！</h1>
</header>

<main>
  <div class="language-switch">
    <a href="/blog/" hreflang="en">English</a>
  </div>
  
  <p>
    以下大部分博客都使用了<a href="https://openai.com/index/introducing-gpt-4-5/">GPT-4.5</a>进行协作翻译，并经过了人工校对。如有错漏，请<a href="mailto:eric310@connect.hku.hk">联系我</a>进行更正，感谢！
  </p>

  <ul class="table-of-contents">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
      <li>
        <small class="fixed-width-font">{{ post.date | date: "%Y-%m-%d" }}</small>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>

{% include footer.html %}

</body>
</html>
