---
title: Blogs
long_description: Welcome to Eric's personal blog page! Here you can find all my blog posts.
permalink: /blog/
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Eric's Github Pages</title>

{% include head.html %}

{% include gtag.html %}

  <!-- SEO and metadata -->
  <meta name="description" content="{{ page.long_description }}">
  <meta name="keywords" content="Eric, eric15342335, Cheng Ho Ming, HKU, BASc(AppliedAI), Blog">
  <meta name="author" content="eric15342335">

  <!-- Facebook -->
  <meta property="og:url" content="https://eric15342335.github.io/blog/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Eric's Github Pages">
  <meta property="og:description" content="{{ page.long_description }}">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Eric's Github Pages">
  <meta name="twitter:description" content="{{ page.long_description }}">
  <meta name="twitter:image" content="/assets/meguru-big.png">
</head>
<body>
{% include gtag2.html %}
<!-- Navbar -->
{% include navbar.html %}

<header>
  <h1>Welcome to Eric's personal blog page!</h1>
</header>

<main>
  <ul class="sitemap-menu">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small>({{ post.date | date: "%B %d, %Y" }})</small>
      </li>
    {% endfor %}
  </ul>
</main>

{% include footer.html %}

</body>
</html>
