---
title: Blogs
permalink: /blog/
description: ""
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>Welcome to Eric's personal blog page!</h1>
</header>

<main>
  <ul class="table-of-contents">
    {% for post in site.posts %}
      <li>
        <small class="fixed-width-font">{{ post.date | date: "%Y-%m-%d" }}</small>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>

{% include footer.html %}

</body>
</html>
