---
title: Blogs
permalink: /blog/
description: ""
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>Welcome to Eric's personal blog page!</h1>
</header>

<main>
  <div class="language-switch">
    <a href="/zh-CN/blog/" hreflang="zh-CN">简体中文</a>
  </div>
  
  <ul class="table-of-contents">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in sorted_posts %}
      <li>
        <small class="fixed-width-font">{{ post.date | date: "%Y-%m-%d" }}</small>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>

{% include footer.html %}

</body>
</html>
