---
title: Courses
permalink: /pages/courses.html
description: ""
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
  <script defer src="/src/js/courses.js"></script>

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>Courses</h1>
</header>

<main>
  <p>
    The University of Hong Kong, Bachelor of Arts and Science in Applied
    Artificial Intelligence
    (<a href="https://saasweb.hku.hk/current/aai.php">BASc(AppliedAI)</a>)
  </p>

  <div id="loading-spinner" class="loading-spinner"></div>
  <div id="course-tables" style="display: none;">
    <table id="combined-table" class="course-table">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Related Links</th>
      </tr>
    </table>

  </div>

  <p>
    <a href="/assets/ChengHoMingTranscript.pdf">Transcript</a>
    <br>
    <a href="https://github.com/eric15342335?tab=repositories">GitHub Repositories</a>
  </p>
</main>

{% include footer.html %}

</body>
</html>
