---
title: Courses
long_description: Learn about Eric's academic journey at HKU. See the detailed list of courses he has taken to develop his skills and knowledge.
permalink: /pages/courses.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - Eric's Github Pages</title>

{% include head.html %}
  <script defer src="/src/courses.js"></script>

{% include gtag.html %}

  <!-- SEO and metadata -->
  <meta name="description" content="{{ page.long_description }}">
  <meta name="keywords" content="Eric, eric15342335, Cheng Ho Ming, HKU, BASc(AppliedAI)">
  <meta name="author" content="eric15342335">

  <!--- Facebook -->
  <meta property="og:url" content="https://eric15342335.github.io">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ page.title }} - Eric's Github Pages">
  <meta property="og:description" content="{{ page.long_description }}">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }} - Eric's Github Pages">
  <meta name="twitter:description" content="{{ page.long_description }}">
</head>
<body>
{% include gtag2.html %}
<!-- Navbar -->
{% include navbar.html %}

<header>
  <h1>Courses</h1>
</header>

<main>
  <p>
    The University of Hong Kong, Bachelor of Arts and Science in Applied
    Artificial Intelligence
    (<a href="https://saasweb.hku.hk/current/aai.php">BASc(AppliedAI)</a>)
  </p>

  <div id="loading-spinner" class="loading-spinner" style="display: block;"></div>
  <div id="course-tables" style="display: none;">
    <h2>Course in Progress</h2>
    <table id="in-progress-table" class="course-table">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
      </tr>
    </table>
    
    <h2>Course Completed</h2>
    <table id="studied-table" class="course-table">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
      </tr>
    </table>
  </div>
</main>

{% include footer.html %}

</body>
</html>
