---
title: Curriculum Vitae
permalink: /pages/cv.html
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>{{ page.title }}</h1>
</header>

<main>
  <p>
    <a href="/assets/ChengHoMingCV.pdf">Download my CV</a><br>
    <small>(Might not be as updated as the one below)</small>
  </p>
  <div id="loading-spinner" class="loading-spinner" style="display: block;"></div>
  <div id="loading-spinner_text" style="display: block;">
    <small>Loading latest version of my Curriculum Vitae...</small>
  </div>
  <div style="position: relative; width: 100%; height: 0; padding-top: 141.4286%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;
    display: none;"
    id="canva-cv-iframe-div">
    <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none;
        padding: 0;margin: 0;"
      src="https://www.canva.com/design/DAGNYKEndbs/tRuxuTbhXdqrVeifVi_LDg/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"
      onload="hideSpinner()"
      title="Cheng Ho Ming's Curriculum Vitae">
    </iframe>
  </div>
  <script>
    function hideSpinner() {
      document.getElementById('loading-spinner').style.display = 'none';
      document.getElementById('loading-spinner_text').style.display = 'none';
      document.getElementById('canva-cv-iframe-div').style.display = 'block';
    }
  </script>
</main>

{% include footer.html %}

</body>
</html>
