---
title: Index
permalink: /
github-top-langs: https://github-readme-stats.vercel.app/api/top-langs/?username=eric15342335&layout=compact&langs_count=10&theme=radical&exclude_repo=comp2120,inspirematrix-buttons
github-user-stats: https://github-readme-stats.vercel.app/api?username=eric15342335&show_icons=true&theme=radical
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>About Me</h1>
</header>

<main>
  <article>
    <p>
      I am a second year undergraduate at <a href="https://hku.hk">the University of Hong Kong</a>, studying <a href="https://saasweb.hku.hk/current/aai.php">Applied Artificial Intelligence</a> and <a href="https://cs.hku.hk">Computer Science</a>.
    </p>

    <p>
      Currently, I am studying multivariable calculus, linear algebra, probability, and statistics to build a solid foundation for future work in artificial intelligence. Previously, I worked at <a href="https://inspirelab.hk">InspireLab Limited</a>, where I developed embedded software for STEM education under the guidance of <a href="https://www.hkucs.org/seminar/bio-vincent.htm">Dr. Vincent Lau</a>.
    </p>
    
    <p>
      I am an open-source enthusiast. As a former member of the <a href="https://pyinstaller.org">PyInstaller</a> development team, I actively contributed hook patch requests to the <code><a href="https://github.com/pyinstaller/pyinstaller-hooks-contrib">pyinstaller-hooks-contrib</a></code> repository, collaborating with developers such as bwoodsend and rokm.
    </p>
    
    <p>
      For more information, please refer to my <a href="/pages/cv.html" title="curriculum vitae">curriculum vitae</a>.
    </p>
  </article>

  <h2><a href="https://github.com/eric15342335?tab=repositories">Projects</a></h2>
  <div class="projects-list">
    <p>
      Firefox Bookmark Invalidator
      <a href="https://github.com/eric15342335/firefox-bookmark-invalidation"
        title="Github repository">
        [Github]
      </a>
    </p>
  
    <p>
      Stock Market Simulator
      <a href="https://github.com/eric15342335/comp2113-engg1340-group-project"
        title="Github repository">
        [Github]
      </a>
      <a href="https://eric15342335.github.io/comp2113-engg1340-group-project"
        title="Documentation">
        [Documentation]
      </a>
    </p>

    <p>
      Miscellaneous scripts
      <a href="https://github.com/eric15342335/misc/"
        title="Github repository">
        [Github]
      </a>
    </p>

    <h3>Summer internship at InspireLab Limited</h3>
    <p>
      InspireMatrix (CH32V003F4P6)
      <a href="https://github.com/eric15342335/inspirematrix-buttons"
        title="Github repository">
        [Github]
      </a>
    </p>
    <p>
      Game Console experiments (CH32V003J4M6)
      <a href="https://github.com/eric15342335/inspirelab-game"
        title="Github repository">
        [Github]
      </a>
    </p>
  </div>

  <div id="loading-spinner" class="loading-spinner" style="display: block;"></div>

  <div id="github-stats"></div>
    <a href="{{ page.github-top-langs }}"><img src="{{ page.github-top-langs }}"
        alt="eric15342335 Most Used Languages" onload="hideSpinner()"></a>
    <a href="{{ page.github-user-stats }}"><img src="{{ page.github-user-stats }}"
        alt="eric15342335 Github Statistics" onload="hideSpinner()"></a>
  </div>

  <script>
    let loadedImages = 0;
    function hideSpinner() {
      loadedImages++;
      console.debug("Loaded images:", loadedImages);
      if (loadedImages === 2) {
        document.getElementById('loading-spinner').style.display = 'none';
        document.getElementById('github-stats').style.display = 'block';
      }
    }
  </script>
</main>

{% include footer.html %}

</body>
</html>
