---
title: Index
permalink: /
github-top-langs: https://github-readme-stats.vercel.app/api/top-langs/?username=eric15342335&layout=compact&langs_count=14&theme=radical
github-user-stats: https://github-readme-stats.vercel.app/api?username=eric15342335&show_icons=true&theme=radical
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include analytics-body.html %}
<!-- Navbar -->
{% include navbar.html %}

<header>
  <h1>Welcome to Eric's GitHub Pages!</h1>
</header>

<main>
  <div class="external-images">
    <h2>About Me</h2>
    <div class="text-description">
      <p>
        I am a second year undergraduate at <a href="https://hku.hk">the University of Hong Kong</a>, studying <a href="https://saasweb.hku.hk/current/aai.php">Applied Artificial Intelligence</a> and <a href="https://cs.hku.hk">Computer Science</a>. In the field of software development, my current interests focus on exploring and integrating various tools to address day-to-day IT challenges and needs.
      </p>

      <p>
        Currently, I am studying multivariable calculus, linear algebra, probability, and statistics to build a solid foundation for future work in artificial intelligence. Previously, I worked at <a href="https://inspirelab.hk">InspireLab Limited</a>, where I developed embedded software for STEM education under the guidance of <a href="https://www.hkucs.org/seminar/bio-vincent.htm">Dr. Vincent Lau</a>.
      </p>
      
      <p>
        I am an open-source enthusiast. As a former junior member of the <a href="https://pyinstaller.org">PyInstaller</a> development team, I actively contributed hook patch requests to the <code><a href="https://github.com/pyinstaller/pyinstaller-hooks-contrib">pyinstaller-hooks-contrib</a></code> repository, collaborating with developers such as bwoodsend and rokm.
      </p>
      
      <p>
        For more information, please refer to my <a href="/pages/cv.html" title="curriculum vitae">curriculum vitae</a>.
      </p>
    </div>

    <h2>Projects</h2>
    <div class="projects-list">
      <p>
        Firefox Bookmark Invalidator
        <a href="https://github.com/eric15342335/firefox-bookmark-invalidation"
          title="Github repository">
          [Github]
        </a>
      </p>
    
      <p>
        Stock Market Simulator
        <a href="https://github.com/eric15342335/comp2113-engg1340-group-project"
          title="Github repository">
          [Github]
        </a>
        <a href="https://eric15342335.github.io/comp2113-engg1340-group-project"
          title="Documentation">
          [Documentation]
        </a>
      </p>
    </div>

    <div id="loading-spinner" class="loading-spinner" style="display: block;"></div>

    <div id="github-stats" style="display: none;">
      <a href="{{ page.github-top-langs }}">
        <img src="{{ page.github-top-langs }}"
          alt="eric15342335 Most Used Languages" width="240" height="192" onload="hideSpinner()">
      </a>

      <a href="{{ page.github-user-stats }}">
        <img src="{{ page.github-user-stats }}"
          alt="eric15342335 Github Statistics" width="460" height="192" onload="hideSpinner()">
    </div>

    <script>
      let loadedImages = 0;
      function hideSpinner() {
        loadedImages++;
        console.debug("Loaded images:", loadedImages);
        if (loadedImages === 2) {
          document.getElementById('loading-spinner').style.display = 'none';
          document.getElementById('github-stats').style.display = 'block';
        }
      }
    </script>
  </div>
</main>

{% include footer.html %}

</body>
</html>
