---
title: Links
permalink: /pages/links.html
description: "Check out this curated collection of blogs and resources shared by fellow students in AI, computer science, and technology. A great place to discover peer insights and student perspectives."
---

<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}

{% include analytics.html %}

{% seo %}
</head>
<body>
{% include navbar.html %}

<header>
  <h1>{{ page.title }}</h1>
</header>

<main>
  <article>    
    <ul class="friend-list">
      <li>
      <img src="https://thisisxxz.com/uploads/avatar-sumire.jpg" alt="XXZ avatar" width="50" height="50">
      <a href="https://thisisxxz.com/">XXZ (https://thisisxxz.com/)</a>
      </li>
    </ul>
  </article>
</main>

{% include footer.html %}

</body>
</html>
