---
permalink: /pages/sitemap.html
---

<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML Sitemap - Eric's Github Pages</title>

  <link rel="icon" href="/favicon.ico">
  <link rel="manifest" href="/assets/manifest.json">
  <link rel="stylesheet" href="/assets/style.css">
  <script defer src="/src/script.js"></script>
  <script defer src="/src/sitemap.js"></script>

  {% include gtag.html %}

  <!-- SEO and metadata -->
  <meta name="description" content="Navigate Eric's GitHub Pages with the HTML Sitemap. Find links to all important sections and resources available on the site.">
  <meta name="keywords" content="Eric, eric15342335, Cheng Ho Ming, HKU, BASc(AppliedAI)">
  <meta name="author" content="eric15342335">

  <!-- Facebook -->
  <meta property="og:title" content="HTML Sitemap - Eric's Github Pages">
  <meta property="og:url" content="https://eric15342335.github.io">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Navigate Eric's GitHub Pages with the HTML Sitemap. Find links to all important sections and resources available on the site.">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="HTML Sitemap - Eric's Github Pages">
  <meta name="twitter:description" content="Navigate Eric's GitHub Pages with the HTML Sitemap. Find links to all important sections and resources available on the site.">
</head>
<body>
{% include navbar.html %}

<header>
  <h1>HTML Sitemap</h1>
</header>

<main>
  <div id="loading-spinner" class="loading-spinner"></div>
  <ul class="sitemap-menu" id="sitemap-menu" style="display: none;"></ul>
</main>

{% include footer.html %}
</body>
</html>
